html,
body {
  margin: 0;
  width: 100%;
}
body {
    background: rgb(190, 229, 255);
    margin-top: 1vh;
}
header{
    margin-left: 4%;
    margin-top: 1vh;
    display: flex;
    justify-content: left;
    align-items: center;
}
main{
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
  border: 3px solid rgb(65, 65, 65);
  margin: 0.1vh;
  background: none;

}

button img {
  width: 4vh;
  height: 4vh;
}
.selected {
    background: #b8b8b8;
    border: solid 3px rgb(0, 0, 0);
}
div.colors {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.copy {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  position: fixed;
  font-size: small;
  margin: 0;
}
p{
  margin: auto;
}
input[type=range] {
  -webkit-appearance: none;
  height: 12px;
  vertical-align: middle;
  background: rgb(70, 170, 252); /* Change background color to black */
  outline: none;
  border-radius: 100px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 12px;
  background: rgb(255, 255, 255); /* Change thumb color to white */
  cursor: pointer;
  border-radius: 100px;
}

input[type=range]::-moz-range-thumb {
  background: rgb(255, 255, 255); /* Change thumb color to white */
  cursor: pointer;
  border-radius: 100px;
}
button input {
  width: 4vh;
  height: 4vh;
  align-items: center;
  border-radius: 4vh;
  background: none;
}
input::-webkit-color-swatch {
  border-radius: 4vh;
}
.slider{
  display: flex;
  align-items: center;
}
#export{
  margin-left: 1vh;
}